<div class="views">    
    <div>
        <a :href="headers.jobTransJapen">日文翻译</a> &nbsp; <a :href="headers.jobTransEng">英文翻译</a>
    </div>
    <div class="viewCont">
        <div class="page pageContinfo">
            <div class="bannerBox">
                <div class="bannrCont" :class="[jobClassType]">
                    <div class="job__header__inner">
                        <h1 class="job__header__jobname"><img
                                :src="headers.headerBackgroudPic"
                                width="480" height="72" alt="">
                            <span class="job__header__jobname__role"><img
                                :src="headers.jobAttackTypePic"
                                    width="32" height="32" alt="">{{headers.jobAttackType}}</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="job__wrapper red">
                <div class="job__content">
                    <p class="job__update">最近更新: {{today}}</p>
                    <p class="job__notes__lv80caution" v-html="headers.jobTitleDescription">
                    </p>
                    <div class="job__content__wrapper">
                        <h2 class="job__title">技能 &middot; 特性</h2>
                        <div class="subTabNum">
                            <div class="roopBox roopBox8">
                                <h3 id="subTitle_0" class="job__sub_title">专用技能
                                    <span class="js__jobguide_new_or_update
                                        hide" style="display: inline;"></span>
                                </h3>
                                <div class="job_table">
                                    <div class="job_list job_tab_tit">
                                        <div class="job_item item8_0">
                                            <span>技能名称</span>
                                        </div>
                                        <div class="job_item item8_1">
                                            <span>习得<br />条件</span>
                                        </div>
                                        <div class="job_item item8_2">
                                            <span>种类</span>
                                        </div>
                                        <div class="job_item item8_3">
                                            <span>咏唱<br />时间</span>
                                        </div>
                                        <div class="job_item item8_4">
                                            <span>复唱<br />时间</span>
                                        </div>
                                        <div class="job_item item8_5">
                                            <span>消费</span>
                                        </div>
                                        <div class="job_item item8_6 flexitem">
                                            <span class="tspan">距离</span>
                                            <span class="tspan">范围</span>
                                        </div>
                                        <div class="job_item item8_7">
                                            <span>效果</span>
                                        </div>
                                        <div class="job_item item8_8">
                                            <span>变更内容</span>
                                        </div>
                                    </div>
                                    <div class="job_tbody" v-for="item in skills">
                                        <div class="job_list_type">
                                            <div class="job_tlist">
                                                <div class="job_titem item8_0">
                                                    <div class="skill_icon">
                                                        <img :src="item.pic" width="40" height="40" alt=""
                                                            :style="{'filter': item.isDisabled ? 'grayscale(100%)' : ''}">
                                                    </div>
                                                    <p class="skill_txt">
                                                        <strong v-if="item.isDisabled === 'true'"><s class="skill_txt"
                                                                v-html=[item.name]></s></strong>
                                                        <strong v-if="item.isDisabled !== 'true'">
                                                            <div class="skill_txt" v-html=[item.name]></div>
                                                            <div class="des" v-if="item.ndes">通过特职任务获得</div>
                                                        </strong>
                                                    </p>
                                                </div>
                                                <div class="job_titem item8_1">
                                                    <div class="waper_icon">
                                                        <div class="oneno">
                                                            <div class="item" tabindex="0">
                                                                <img :src="item.tiurl" width="32" height="32"
                                                                    class="js__tooltip" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p>{{item.lvl}}</p>
                                                </div>
                                                <div class="job_titem item8_2 itcent">
                                                    <p class="pcent">{{item.classification}}</p>
                                                </div>
                                                <div class="job_titem item8_3 itcent">
                                                    <p class="pcent">{{item.cast}}</p>
                                                </div>
                                                <div class="job_titem item8_4 itcent">
                                                    <p class="pcent">{{item.recast}}</p>
                                                </div>
                                                <div class="job_titem item8_5 itcent" v-html=[item.cost]>
                                                </div>
                                                <div class="job_titem item8_6 itflex">
                                                    <div class="pic_icon">
                                                        <img src="https://static.web.sdo.com/jijiamobile/pic/ff14/20170901battle/mC5EtjE993EXT5Eo_63j2lmWiM.png"
                                                            width="16" height="16" alt="" />
                                                        <span>{{item.distant}}m</span>
                                                    </div>
                                                    <div class="pic_icon">
                                                        <img :src="getRangeImage(item.rangeType)" width="16" height="16" alt="" />
                                                        <span>{{item.range}}m</span>
                                                    </div>
                                                </div>
                                                <div class="job_titem item8_7">
                                                    <div class="job_des">
                                                        <div class="content" v-html=[item.content]>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="job_titem item8_8">
                                                    <div class="job_des">
                                                        <div class="content" v-html=[item.change]>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="job__notes">* 在7.0中删除了「激情咏唱」？</p>
                            </div>
                        </div>
                        <div class="subTabNum">
                            <div class="roopBox roopBox8">
                                <h3 id="subTitle_1" class="job__sub_title">职能技能 <span
                                        class="js__jobguide_new_or_update hide" style="display: inline;"> </span></h3>
                                <div class="job_txt">
                                    职能技能是根据职业和特职的区别所习得的各种技能。
                                </div>
                                <div class="job_table">
                                    <div class="job_list job_tab_tit">
                                        <div class="job_item item8_0">
                                            <span>技能名称</span>
                                        </div>
                                        <div class="job_item item8_1">
                                            <span>习得<br />条件</span>
                                        </div>
                                        <div class="job_item item8_2">
                                            <span>种类</span>
                                        </div>
                                        <div class="job_item item8_3">
                                            <span>咏唱<br />时间</span>
                                        </div>
                                        <div class="job_item item8_4">
                                            <span>复唱<br />时间</span>
                                        </div>
                                        <div class="job_item item8_5">
                                            <span>消费</span>
                                        </div>
                                        <div class="job_item item8_6 flexitem">
                                            <span class="tspan">距离</span>
                                            <span class="tspan">范围</span>
                                        </div>
                                        <div class="job_item item8_7">
                                            <span>效果</span>
                                        </div>
                                        <div class="job_item item8_8">
                                            <span>变更内容</span>
                                        </div>
                                    </div>
                                    <div class="job_tbody">
                                        <div class="job_list_type" v-for="item in roleSkills">
                                            <div class="job_tlist">
                                                <div class="job_titem item8_0">
                                                    <div class="skill_icon">
                                                        <img :src="item.pic" width="40" height="40" alt=""
                                                            :style="{'filter': item.isDisabled ? 'grayscale(100%)' : ''}">
                                                    </div>
                                                    <p class="skill_txt"><strong>{{item.name}}</strong> </p>
                                                </div>
                                                <div class="job_titem item8_1">
                                                    <div class="waper_icon">
                                                        <div class="oneHas">
                                                            <div class="item" tabindex="0"
                                                                v-for="itemIcon in item.ticon">
                                                                <img :src="itemIcon.url" width="32" height="32"
                                                                    class="js__tooltip" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p>{{item.lvl}}</p>
                                                </div>
                                                <div class="job_titem item8_2 itcent">
                                                    <p class="pcent">{{item.classification}}</p>
                                                </div>
                                                <div class="job_titem item8_3 itcent">
                                                    <p class="pcent">{{item.cast}}</p>
                                                </div>
                                                <div class="job_titem item8_4 itcent">
                                                    <p class="pcent">{{item.recast}}</p>
                                                </div>
                                                <div class="job_titem item8_5 itcent">
                                                    <p class="pcent">{{item.cost}}</p>
                                                </div>
                                                <div class="job_titem item8_6 itflex">
                                                    <div class="pic_icon">
                                                        <img src="https://static.web.sdo.com/jijiamobile/pic/ff14/20170901battle/mC5EtjE993EXT5Eo_63j2lmWiM.png"
                                                            width="16" height="16" alt="" />
                                                        <span>{{item.distant}}m</span>
                                                    </div>
                                                    <div class="pic_icon">
                                                        <img :src="getRangeImage(item.rangeType)" width="16"
                                                            height="16" alt="" />
                                                        <span>{{item.range}}m</span>
                                                    </div>
                                                </div>
                                                <div class="job_titem item8_7">
                                                    <div class="job_des">
                                                        <div class="content" v-html=[item.content]>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="job_titem item8_8">
                                                    <div class="job_des">
                                                        <div class="content" v-html=[item.change]>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="subTabNum">
                            <div class="roopBox roopBox3">
                                <h3 id="subTitle_2" class="job__sub_title">特性 <span
                                        class="js__jobguide_new_or_update hide" style="display: inline;"> </span></h3>
                                <div class="job_table">
                                    <div class="job_list job_tab_tit">
                                        <div class="job_item item3_0">
                                            <span>技能名称</span>
                                        </div>
                                        <div class="job_item item3_1">
                                            <span>习得<br />条件</span>
                                        </div>
                                        <div class="job_item item3_2">
                                            <span>效果</span>
                                        </div>
                                        <div class="job_item item3_3">
                                            <span>变更内容</span>
                                        </div>
                                    </div>
                                    <div class="job_tbody">
                                        <div class="job_list_type" v-for="item in traits">
                                            <div class="job_tlist">
                                                <div class="job_titem item3_0">
                                                    <div class="skill_icon">
                                                        <img :src="item.pic" width="40" height="40" alt=""
                                                            :style="{'filter': item.isDisabled ? 'grayscale(100%)' : ''}">
                                                    </div>                                                    
                                                    <strong v-if="item.isDisabled === 'true'"><s class="skill_txt"
                                                            v-html=[item.name]></s></strong>
                                                    <strong v-if="item.isDisabled !== 'true'">
                                                        <div class="skill_txt" v-html=[item.name]></div>                                                        
                                                    </strong>
                                                </div>
                                                <div class="job_titem item3_1">
                                                    <div class="waper_icon">
                                                        <div class="oneno">
                                                            <div class="item" tabindex="0">
                                                                <img :src="item.tiurl" width="32" height="32"
                                                                    class="js__tooltip" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p>{{item.lvl}}</p>
                                                </div>
                                                <div class="job_titem item3_2">
                                                    <div class="job_des">
                                                        <div class="content" v-html=[item.content]>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="job_titem item3_3">
                                                    <div class="job_des">
                                                        <div class="content" v-html=[item.change]>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="job__notes">* 在6.0中删除了「灵极心效果提高」</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>